doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='assets/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='css/login.css')
    link(rel='stylesheet', href='assets/css/font-awesome.min.css')
    link(rel='stylesheet', href='assets/css/ace.min.css')
    link(rel='stylesheet', href='assets/css/page.css')    
    link(rel='stylesheet', href='assets/css/ace-skins.min.css')   
  body(ng-app='myApp', ng-controller='baseController')
    block content
// <script src="bower_components/jquery/dist/jquery.js"></script>
script(src='assets/js/jquery-2.0.3.min.js')
script(src='assets/js/bootstrap.min.js')
script(src='assets/js/ace.min.js')
script(src='assets/js/ace-extra.min.js')
script(src='/bower_components/angular/angular.min.js')
script(src='/bower_components/angular/angular-route.min.js')
script(src='/js/angularjs/directive/pagination.js')
script(src='/js/angularjs/config/baseconfig.js')
script(src='/js/angularjs/controller/sfmsIndexController.js')
