link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid
    span 
      h2 商品编辑
    jason-form(method="post" source='/jinkeBro/product' conf='paginationConf' tocc="ProductTypeID,SupplierID")
      form( name="jitorderEdit")
        table.table.table-bordered.table-hover.definedwidth.m10
          tr
            td(width="15%",class="tableleft") 仓储量的单位 
            td
              input(type="textview",name="SKU",ng-model='paginationConf.formdata.SKU',ng-maxlength='50',required)
              
              small.error(ng-if="jitorderEdit.SKU.$error.maxlength && jitorderEdit.SKU.$touched") 仓储量的单位最多50位
            
          tr
            td(width="15%",class="tableleft") 商品名称 
            td
              input(type="textview",name="ProductName",ng-model="paginationConf.formdata.ProductName",ng-maxlength='50',required)
              
              small.error(ng-if="jitorderEdit.ProductName.$error.maxlength && jitorderEdit.ProductName.$touched") 商品名称最多50位
            
          tr
            td(width="15%",class="tableleft") 商品图片路径
            td
              input(type="textview",name="ProductImgPath",ng-model="paginationConf.formdata.ProductImgPath",ng-maxlength='50',required)
              
              small.error(ng-if="jitorderEdit.ProductImgPath.$error.maxlength && jitorderEdit.ProductImgPath.$touched") 商品图片路径最多50位
          
          tr
            td(width="15%",class="tableleft") 有效期
            td 
              input(type="date",name="ExpireTime",ng-model="paginationConf.formdata.ExpireTime",value='{{paginationConf.formdata.ExpireTime}}',required)
          
          tr
            td(width="15%",class="tableleft") 生产日期
            td 
              input(type="date",name="ProducTime",ng-model="paginationConf.formdata.ProducTime",value='{{paginationConf.formdata.ProducTime}}',required)
          
          tr
            td(width="15%",class="tableleft") 商品类型
            td
                jason-select.input(placeholder='商品类型' ng-model='paginationConf.formdata.ProductTypeID' source='/jinkeBro/proType', stext='ProductTypeName' svalue='ID',style="width:160px;height:30px",required)
          
          tr
            td(width="15%",class="tableleft") 供应商
            td
               jason-select.input(placeholder='供应商ID' ng-model='paginationConf.formdata.SupplierID' source='/jinkeBro/staff', stext='StaffName' svalue='StaffID',style="width:160px;height:30px",required)

          tr
            td(width="15%",class="tableleft") 商品价格
            td
              input(type="number",name="ProductPrice",min="0.00",step="0.01",ng-model="paginationConf.formdata.ProductPrice",ng-maxlength='10',required)
              
              small.error(ng-if="jitorderEdit.ProductPrice.$error.maxlength && jitorderEdit.ProductPrice.$touched") 商品价格最多10位

          tr
            td(class="tableleft") 是否在售
            td
              input(type="radio",name="OnSale",value="1",ng-model="paginationConf.formdata.OnSale",style="width:15px;height:15px")
              | 在售&nbsp&nbsp&nbsp
              
              input(type="radio",name="OnSale",value="0",ng-model="paginationConf.formdata.OnSale",style="width:15px;height:15px")
              |未售

          tr
            td(width="15%",class="tableleft") 商品描述
            td
              textarea(type="textview",name="ProductDesc",ng-model='paginationConf.formdata.ProductDesc',rows="5",cols="30",ng-maxlength='200')
              
              small.error(ng-if="jitorderEdit.ProductDesc.$error.maxlength && jitorderEdit.ProductDesc.$touched") 商品描述最多200位

          tr
            td(class="tableleft")
            td
              button.btn.btn-sm.btn-primary(type="submit",ng-disabled='paginationConf.formdata.$invalid',ng-click="newedit(paginationConf.formdata,'/jinkeBro/product')") 确认修改
              
              a.btn.btn-sm.btn-success(href='#jinkeBro/jitgoods',ng-click='search()') 返回列表