link(rel='stylesheet' href="css/backend/role.css")
block content
    div.container-fluid
        span
            h2 订单新增
        form(method="post"  name="orderAdd" ng-controller="selectController")
            table.table.table-bordered.table-hover.definedwidth.m10
                tr
                    td(width="15%",class="tableleft") 仓储量的单位
                    td
                        input(type="textview",name="SKU",ng-model='formdata.SKU',ng-maxlength='50',required)
                        
                        small.error(ng-if="orderAdd.SKU.$error.maxlength && orderAdd.SKU.$touched") 仓储量的单位最多50位

                    tr
                        td(width="15%",class="tableleft")  商品名称
                        td
                            input(type="textview",name="ProductName",ng-model="formdata.ProductName",ng-maxlength='50',required)
                        
                        small.error(ng-if="orderAdd.ProductName.$error.maxlength && orderAdd.ProductName.$touched") 商品名称最多50位

                    tr
                        td(width="15%",class="tableleft") 商品图片路径
                        td
                            input(type="textview",name="ProductImgPath",ng-model="formdata.ProductImgPath",ng-maxlength='50',required)
                        
                        small.error(ng-if="orderAdd.ProductImgPath.$error.maxlength && orderAdd.ProductImgPath.$touched") 商品图片路径最多50位

                    tr
                        td(width="15%",class="tableleft") 有效期
                        td
                            input(type="date",name="ExpireTime",ng-model="formdata.ExpireTime")
                    tr
                        td(width="15%",class="tableleft") 生产日期
                        td
                            input(type="date",name="ProducTime",ng-model="formdata.ProducTime")
                    tr
                        td(width="15%",class="tableleft") 商品类型
                        td
                            select(ng-model="formdata.ProductTypeID")
                                option 水果
                                option 糖果

                    tr
                        td(width="15%",class="tableleft") 供应商ID
                        td
                            select(ng-model='formdata.SupplierID')
                                option 供应商1
                                option 供应商2

                    tr
                        td(width="15%",class="tableleft") 商品描述
                        td
                            textarea(type="textview",rows="5",cols="30",name="ProductDesc",ng-model='formdata.ProductDesc',ng-maxlength='200')
                            
                            small.error(ng-if="orderAdd.ProductDesc.$error.maxlength && orderAdd.ProductDesc.$touched") 商品描述最多200位

                    tr
                        td(class="tableleft")
                        td
                            button.btn.btn-sm.btn-primary(type="submit",ng-disabled="orderAdd.$invalid",ng-click="addnew(formdata,'/jinkeBro/product')") 添加

                            
                            a.btn.btn-sm.btn-success(href='#jinkeBro/jitgoods' ng-click="search()") 返回列表





