link(rel='stylesheet' href="css/backend/role.css")
block content
    div.container-fluid
        span
            h2 员工编辑
        jason-form(method="put" source='/jinkeBro/staff' conf='paginationConf' tocc="StaffID")
            form( name="staffedit")
                table.table.table-bordered.table-hover.definedwidth.m10
                    tr
                        td(width="15%",class="tableleft") 员工姓名
                        td
                            input(type="textview",name="StaffName",ng-model='paginationConf.formdata.StaffName',ng-maxlength='50',required)
                            
                            small.error(ng-if="staffedit.StaffName.$error.maxlength && staffedit.StaffName.$touched") 姓名最多50位

                    tr
                        td(width="15%",class="tableleft") 员工性别
                        td
                            input(type="radio",name="Sex",value="1",ng-model="paginationConf.formdata.Sex",style="width:15px;height:15px",checked)
                            | 男&nbsp&nbsp&nbsp&nbsp
                            
                            input(type="radio",name="Sex",value="2",ng-model="paginationConf.formdata.Sex",style="width:15px;height:15px")
                            | 女

                    tr
                        td(width="15%",class="tableleft") 员工类型
                        td
                            input(type="radio",name="StaffType",value="1",ng-model="paginationConf.formdata.StaffType",style="width:15px;height:15px",checked)
                            | 供应商&nbsp&nbsp&nbsp&nbsp
                            
                            input(type="radio",name="StaffType",value="2",ng-model="paginationConf.formdata.StaffType",style="width:15px;height:15px")
                            | 配送员&nbsp&nbsp&nbsp&nbsp
                            
                            input(type="radio",name="StaffType",value="3",ng-model="paginationConf.formdata.StaffType",style="width:15px;height:15px")
                            | 管理员

                    tr
                        td(width="15%",class="tableleft") 电话号码
                        td
                            input(type="phone",name="Phone",ng-model="paginationConf.formdata.Phone",value='{{paginationConf.formdata.Phone}}',ng-minlength='11',ng-maxlength='11',required)
                            small.error(ng-if="staffedit.Phone.$error.maxlength || staffedit.Phone.$error.minlength && staffedit.Phone.$touched") 电话号码为11位
                    tr
                        td(width="15%",class="tableleft") 员工职位
                        td
                            input(type="text",name="Position",ng-model="paginationConf.formdata.Position",value='{{paginationConf.formdata.Position}}',ng-maxlength='50',required)
                            small.error(ng-if="staffedit.Position.$error.maxlength && staffedit.Position.$touched") 职位名称最多50位
                    tr
                        td(width="15%",class="tableleft") 是否有效
                        td
                            input(type="radio",name="IsActive",value="1",ng-model="paginationConf.formdata.IsActive",style="width:15px;height:15px",checked)
                            | 有效&nbsp&nbsp&nbsp&nbsp

                            input(type="radio",name="IsActive",value="0",ng-model="paginationConf.formdata.IsActive",style="width:15px;height:15px")
                            | 无效
                    tr
                        td(class="tableleft")
                        td
                            button.btn.btn-sm.btn-primary(type="submit",ng-disabled="staffedit.$invalid",ng-click="newedit(paginationConf.formdata,'/jinkeBro/staff')") 确认修改
                            
                            a.btn.btn-sm.btn-success(href='#jinkeBro/jitstaffmanage',ng-click='search()') 返回列表