link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid
    span 
      h2 库存编辑
    jason-form(method="post" source='/jinkeBro/proStock' conf='paginationConf' tocc="StockAreaID" )
      form(name="jitorderEdit" ng-controller="jitgoodsAddController")
        table.table.table-bordered.table-hover.definedwidth.m10
          
          tr
            td(width="15%",class="tableleft") 商品名称 
            td
              span  {{paginationConf.formdata.ProductName}}

          tr
            td(width="15%",class="tableleft") 库存总数
            td
              input(type="textview",name="TotalNum",ng-model="paginationConf.formdata.TotalNum",ng-maxlength='50',required)
        
              small.error(ng-if="jitorderEdit.TotalNum.$error.maxlength && jitorderEdit.TotalNum.$touched") 库存总数最多50位
          
          tr
          td(width="15%",class="tableleft") 存储区域
          td
            select(ng-model='paginationConf.formdata.StockAreaID')
              option(ng-repeat="item in StockArea",value='{{item.DictionaryID}}') {{item.DictionaryValue}}
      
          tr
            td(class="tableleft")
            td
              button.btn.btn-sm.btn-primary(type="submit",ng-click="newedit(paginationConf.formdata,'/jinkeBro/proStock')") 确认修改
  
              a.btn.btn-sm.btn-success(href='#jinkeBro/jitstock',ng-click='search()') 返回列表