doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='assets/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='css/login/login.css')
body(ng-app='myApp', ng-controller='formController')
  div.login
    div.navbar
      ul.nav.navbar-nav
        li
          img(src='imgs/logo_school.png')
        li 
          h3  <strong>#{title}</strong>
    div.container.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      h2.form-signin-heading 用户登录 
      form(class='form-signin' name='signUpForm' method='post' role='form')
        div.form-group 
          label  用户名 ：
          input(type="text" name='username' class="form-control" placeholder="请输入用户名" ng-minlength='1' ng-model="userdata.username" required autofocus)
          p.error(ng-if='signUpForm.username.$touched && signUpForm.username.$error.minlength' ) 用户名至少1位
        div.form-group        
          label  密码 ：
          input(type="password" name='password' class="form-control" placeholder="请输入密码" ng-minlength='1' ng-maxlength='12' ng-model="userdata.password" required)
          p.error(ng-if='(signUpForm.password.$error.minlength || signUpForm.password.$error.maxlength )&& signUpForm.password.$touched') 密码输入1-12位
        div.form-group
          label  验证码 ：
          br          
          input(type="text" class="form-control pin_code" name='code' ng-model="userdata.code" ng-minlength='4' ng-maxlength='4' placeholder="请输入右侧图片的验证码" required)
          img(ng-src="{{codesrc}}" ng-click ="changeCode()")
          p.error(ng-if='(signUpForm.code.$error.minlength || signUpForm.code.$error.maxlength )&& signUpForm.code.$touched' ) 验证码输入4位
        div.form-group 
          input(type='checkbox')
          span  Remember me   
          button.btn.btn-lg.btn-primary.pull-right(type="submit" ng-click="submit(userdata)") 登  录
script(src='assets/js/jquery-2.0.3.min.js')
script(src='assets/js/bootstrap.min.js')
script(src='/bower_components/angular/angular.min.js')
script(src='/js/angularjs/controller/controllers.js')