link(rel='stylesheet', href='css/backend/backend.css')   
block content
  jason-pagecontent(action='',conf='paginationConf')
    div.page-content
      ng-form.form-inline
        span(style='font-size: 24px;') 财务收支饼状图
        div.buttons.pull-right
          label.form-group.my-form-group  创建时间
            input.form-control.ext(type='date',ng-model='startTime')
          label.form-group.my-form-group  结项时间
            input.form-control.ext(type='date',ng-model='endTime')
          label.form-group.my-form-group
            a.btn.btn-sm.btn-primary(href='#/sfms/financeChartsAlt?startTime={{startTime}}&endTime={{endTime}}')
              i.icon.icon-search   查询
        hr
        p
            jason-canvas(source='inOutSum')
        p(style='height:0px') 
            jason-canvas(source='inDetail')
        p(style='height:0px')  
            jason-canvas(source='outDetail')
            
        div.pull-right
         
        