link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid
    span 
      h2 财务新增
    form(method="post",name="financeAdd",ng-controller="sfmsApiFinanceAddController")
      table.table.table-bordered.table-hover.definedwidth.m10      
        tr
          td(width="15%",class="tableleft") 财务名称
          td
            input(type="textview",name='FIName',ng-model='formdata.FIName',ng-maxlength='45',required)
           
            small.error(ng-if="financeAdd.FIName.$error.maxlength && financeAdd.FIName.$touched") 财务名称最多45位

        tr
          td(width="15%",class="tableleft") 用户名
          td
            p {{loginUserInfo.UserName}}

        tr
          td(width="15%",class="tableleft") 所属项目
          td
            select(name='ProjectID',ng-model='formdata.ProjectID')
              option(ng-repeat="item in ProjectNames",value='{{item.ProjectID}}') {{item.ProjectName}}
                  
        tr
          td(width="15%",class="tableleft") 财务类型
          td
            jason-select.input(name='FIType',ng-model='formdata.FIType',source='/datadict/plain',selectparams='{"Category":"dc_fitype"}',stext='DictionaryValue',svalue='DictionaryID')
                 
        tr
          td(width="15%",class="tableleft") 财务收支
          td
            jason-select.input(name='InOutType',ng-model='formdata.InOutType',source='/datadict/plain',selectparams='{"Category":"dc_fiinouttype"}',stext='DictionaryValue',svalue='DictionaryID')
        
        tr
          td(width="15%",class="tableleft") 财务金额 
          td
            input(type="number",name="FIPrice",ng-model="formdata.FIPrice",ng-maxlength='45',required)
           
            small.error(ng-if="financeAdd.FIPrice.$error.maxlength && financeAdd.FIPrice.$touched") 金额最多45位
  
        tr
          td(width="15%",class="tableleft") 财务描述 
          td
            textarea(type="textview",name="Remark",ng-model='formdata.Remark',rows="5",cols="30",ng-maxlength='45',required)
           
            small.error(ng-if="financeAdd.Remark.$error.maxlength && financeAdd.Remark.$touched") 描述最多45位

        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-disabled="financeAdd.$invalid",ng-click="addnew(formdata,'/sfms/api/finance')") 添加
       
            a.btn.btn-sm.btn-success(href='#sfms/finance',ng-click='search()') 返回列表