link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid
    span 
      h2 绩效编辑
    jason-form(method="post",source='/sfms/api/kpi/person',name='kpiEdit',conf='paginationConf',tocc="ProjectID,UserID")
      form(name='kpiEdit' ng-controller="sfmsApiFinanceEditController")
        table.table.table-bordered.table-hover.definedwidth.m10
          tr
            td(width="15%",class="tableleft") 绩效名称
            td
              input(type="textview",name="KPIName",ng-model="paginationConf.formdata.KPIName",ng-maxlength='45',required)
              
              small.error(ng-if="kpiEdit.KPIName.$error.maxlength && kpiEdit.KPIName.$touched") 绩效分最多45位
          
          tr
            td(width="15%",class="tableleft") 用户名
            td
              span(name='UserID',ng-model='paginationConf.formdata.UserID') {{paginationConf.formdata.UserName}}
              
          tr
            td(width="15%",class="tableleft") 绩效大类
            td
              jason-select.input(name='KPIClass',ng-model='paginationConf.formdata.KPIClass',source='/datadict/plain',selectparams='{"Category":"dc_kpiclass"}',stext='DictionaryValue',svalue='DictionaryID')

          tr
            td(width="15%",class="tableleft") 绩效类型
            td
              jason-select.input(name='KPIType',ng-model='paginationConf.formdata.KPIType',source='/datadict/plain',selectparams='{"Category":"dc_kpitype"}',stext='DictionaryValue',svalue='DictionaryID')
      
          tr
            td(width="15%",class="tableleft") 所属项目
            td
              jason-select.input(name='ProjectID',ng-model='paginationConf.formdata.ProjectID',source='/sfms/api/project/user',stext='ProjectName',sactive='1',svalue='ProjectID')
              
          tr
            td(width="15%",class="tableleft") 绩效分
            td
              input(type="textview",name="KPIScore",ng-model="paginationConf.formdata.KPIScore",ng-maxlength='45',required)
              
              small.error(ng-if="kpiEdit.KPIScore.$error.maxlength && kpiEdit.KPIScore.$touched") 绩效分最多45位
              
          
          tr
            td(width="15%",class="tableleft") 绩效备注
            td
              textarea(type="textview",name="Remark",ng-model='paginationConf.formdata.Remark',rows="5",cols="30",ng-maxlength='45',required)
              
              small.error(ng-if="kpiEdit.Remark.$error.maxlength && kpiEdit.Remark.$touched") 备注最多45位

          tr
            td(class="tableleft")
            td
              button.btn.btn-sm.btn-primary(type="submit",ng-disabled="kpiEdit.$invalid",ng-click="newedit(paginationConf.formdata,'/sfms/api/kpi')") 确认修改
              
              a.btn.btn-sm.btn-success(href='#sfms/kpi',ng-click='search()') 返回列表