link(rel='stylesheet', href='css/backend/backend.css')   
block content
  jason-pagecontent(action='/sfms/api/kpi/manage',conf='paginationConf')
    div.page-content
      ng-form.form-inline
        span.title  绩效审核
        div.buttons.pull-right
          label.form-group.my-form-group  绩效类型
           jason-select.est(ng-model='f.KPIType',source='/datadict/plain',selectparams='{"Category":"dc_kpitype"}',stext='DictionaryValue',svalue='DictionaryID')
          label.form-group.my-form-group  所属项目
           jason-select.est(ng-model='f.ProjectID',source='/sfms/api/project',stext='ProjectName',svalue='ID')
          label.form-group.my-form-group 状态
            select(ng-model='f.KPIStatus' style="width:120px;height:34px;")
              option(value='') 全部
              option 待审核
              option 已审核
          label.form-group.my-form-group
            a.btn.btn-sm.btn-primary(ng-click='search()')
              i.icon.icon-search   查询
            a.btn.btn-sm.btn-info(ng-click='search()' class='btn btn-sm btn-default') 
              i.icon.icon-repeat  刷新
      hr
      table.table.table-striped.table-bordered.text-centerA
        thead
          tr
            th 序号
            th 绩效名称          
            th 绩效大类
            th 绩效类型
            th 所属项目
            th 申请人
            th 绩效分
            th 申请时间
            th 审核人
            th 审核时间
            th 备注
            th 审核状态
            th 是否有效
            th(style="width:100px;") 操作
        tbody
          tr(ng-repeat="x in datas") 
            td {{$index+1+(paginationConf.currentPage-1)*paginationConf.itemsPerPage}}
            td {{x.KPIName}}            
            td {{x.KPIClassValue}}
            td {{x.KPITypeValue}}
            td {{x.ProjectName}}
            td {{x.UserName}}
            td {{x.KPIScore}}
            td {{x.CreateTime}}
            td {{x.CheckUser}}
            td {{x.CheckTime}}
            td {{x.Remark}}
            td {{x.KPIStatus}}
            td {{x.IsActive | numToChin:data.IsActive }}
            td
              a(href='#/sfms/kpiManageCheck/?ID={{x.ID}}' )
                i.icon.icon-edit 审核&nbsp
              button.btt.btn.btn-sm.btn-primary(ng-click="restart($index,x.KPIName,'/sfms/api/kpi')",href='',ng-disabled='x.IsActive')
                i.icon.icon-ok 启用
              button.btt.btn.btn-sm.btn-danger(ng-click="remove($index,x.KPIName,'/sfms/api/kpi')",href='',ng-disabled='!x.IsActive')
                i.icon.icon-ban-circle 禁用
      div.pull-right
        jason-pagination(conf='paginationConf')