link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid(ng-controller="sfmsProjectController")
    span 
      h2 项目编辑
    jason-form(method="post",source='/sfms/api/project',conf='paginationConf',tocc="ProjectManageID,ApplicationName,RoleName,ClassID")
      form(name="projectEdit")
        table.table.table-bordered.table-hover.definedwidth.m10
          tr
            td(width="15%",class="tableleft") 项目负责人
            td
              jason-select.input(name="ProjectManageID",ng-model='paginationConf.formdata.ProjectManageID' source='/backuser' stext='UserName' sactive='1',svalue='AccountID')
            
          tr
            td(width="15%",class="tableleft") 项目名称
            td
              input(type="textview",name="projectName",ng-model="paginationConf.formdata.ProjectName",ng-maxlength='45',required)
              
              small.error(ng-show="projectEdit.ProjectName.$error.maxlength && projectEdit.ProjectName.$touched") 应用名称最多45位    

          tr
            td(width="15%",class="tableleft") 项目成员信息显示
            td
              table.table-bordered.table-hover
                tbody 
                    tr
                      td(style="width:170px;height:30px") 成员职责
                      td(style="width:170px;height:30px") 成员姓名
                      td(style="width:170px;height:30px") 成员账号
                      td(style="width:80px;height:30px") 操作
                tbody
                    tr(ng-repeat="a in paginationConf.formdata.userdata")
                      td(style="line-height:34px;font-size:18px;")  {{a.Duty}}
                      td( style="line-height:34px;font-size:18px;")  {{a.UserName}}
                      td( style="line-height:34px;font-size:18px;")  {{a.UserID}}
                      td 
                        button(ng-click="removeUser($index,'/sfms/api/projectuser')" style="width:80px;height:34px") 删除                 
                
          tr(ng-controller="sfmsProjectController")
              td(width="15%",class="tableleft") 项目成员新增 
              td
                table.table-bordered.table-hover
                  tbody 
                      tr
                        td(style="width:150px;height:30px") 成员职责
                        td(style="width:150px;height:30px") 成员姓名
                        td(style="width:80px;height:30px") 成员账号
                        td(style="width:80px;height:30px") 操作
                  tbody
                      tr(ng-repeat="a in formdata.data")
                        td(ng-model=" formdata.data.duty" style="line-height:34px;font-size:18px;")  {{a.duty}}
                        td(ng-model=" formdata.data.userName" style="line-height:34px;font-size:18px;")  {{a.userName}}
                        td(ng-model=" formdata.data.userID" style="line-height:34px;font-size:18px;")  {{a.userID}}
                        td 
                          button(ng-click="resetEditUser(this)" style="width:80px;height:34px") 重置                  
                      tr 
                        td
                          input(type="textview",ng-model="user.duty",ng-maxlength='50',style="width:150px;height:34px")
                        td
                          select(ng-model='user.userIndex' ng-change= "userChanged()") 
                            option(ng-repeat="item in UserNames" value='{{$index}}') {{item.UserName}}
                        td(style="width:150px;")
                          span(ng-model='user.userID' style="width:150px;")  {{user.userID}}  
                        td 
                          button(ng-click="addEditUser(user)" style="width:80px;height:34px") 添加

          tr
            td(width="15%",class="tableleft") 项目截止时间
            td
              input(type="dateTime",name="projectEndTime",ng-model="paginationConf.formdata.ProjectEndTime",,value='{{paginationConf.formdata.ProjectEndTime}}',required)
            
          tr
            td(width="15%",class="tableleft") 项目经费预算
            td
              input(type="textview",name="projectPrice",ng-model="paginationConf.formdata.ProjectPrice",ng-maxlength='45',required)
              
              small.error(ng-show="projectEdit.ProjectPrice.$error.maxlength && projectEdit.ProjectPrice.$touched") 预算最多45位
          
          tr
            td(width="15%",class="tableleft") 项目进度
            td
              input(type="textview",name="ProjectTimeLine",ng-model="paginationConf.formdata.ProjectTimeLine",ng-maxlength='45',required)
              
              small.error(ng-show="projectEdit.ProjectTimeLine.$error.maxlength && projectEdit.ProjectTimeLine.$touched") 进度最多45位
          
          tr
            td(width="15%",class="tableleft") 项目状态
            td
              input(type="radio",name="ProjectStatus",value="结项",ng-model='paginationConf.formdata.ProjectStatus',checked,style="width:15px;height:15px")
              | 结项&nbsp&nbsp&nbsp
                        
              input(type="radio",name="ProjectStatus",ng-model="paginationConf.formdata.ProjectStatus",value="待完成",style="width:15px;height:15px")
              |待完成
        
      
          tr
            td(width="15%",class="tableleft") 项目描述 
            td
              textarea(type="textview",rows="5",cols="30",name="Memo",ng-model='paginationConf.formdata.ProjectDesc',ng-maxlength='45',required)
              
              small.error(ng-show="projectEdit.ProjectDesc.$error.maxlength && projectEdit.ProjectDesc.$touched") 描述最多45位

          tr
            td(class="tableleft")
            td
              button.btn.btn-sm.btn-primary(type="submit",ng-disabled="projectEdit.$invalid",ng-click="newedit(paginationConf.formdata,'/sfms/api/project')") 确认修改
              
              a.btn.btn-sm.btn-success(href='#sfms/projectLead',ng-click='search()') 返回列表