link(rel='stylesheet', href='css/backend/backend.css')   
block content
  jason-pagecontent(action='/sfms/api/project/person',conf='paginationConf')
    div.modal.fade(id="myModal",tabindex="-1",role="dialog",aria-labelleby="myModalLabel",aria-hidden="true")
            div.modal-dialog
                div.modal-content
                   div.modal-body 
                        h4.modal-title(id="myModalLabel") 项目人员
                          button.close(type="button",data-dismiss="modal")
                            span(aria-hidden="true")&times;  
                        br                
                        table.table.table-striped.table-bordered.text-center
                            thead
                                tr
                                    th 成员姓名
                                    th 成员职能
                            tbody
                                tbody
                                tr(ng-repeat="data in data")
                                    td {{data.UserName}}
                                    td {{data.Duty}}
                                    
                        button.btn.btn-default(type="button",data-dismiss="modal") Close
                        
    div.page-content
      ng-form.form-inline
        span.title 项目管理
        div.buttons.pull-right
          label.form-group.my-form-group  项目名称
            jason-select.ext(ng-model='f.ID',source='/sfms/api/project',stext='ProjectName',svalue='ID')
          label.form-group.my-form-group  创建时间:
            input.form-control.ext(type='date',ng-model='f.startTime')
          label.form-group.my-form-group   结项时间：
            input.form-control.ext(type='date',ng-model='f.endTime')
          label.form-group.my-form-group
            a.btn.btn-sm.btn-primary(ng-click='search()')
              i.icon.icon-search   查询
            a.btn.btn-sm.btn-info(ng-click='search()' class='btn btn-sm btn-default') 
              i.icon.icon-repeat  刷新
      hr
      table.table.table-striped.table-bordered.text-center
        thead
          tr
            th 序号
            th 项目名称         
            th 项目描述
            th 项目负责人
            th 项目进度
            th 项目完成时间
            th 项目状态       
            th 项目预算
            th 是否有效
            th 操作
        tbody
          tr(ng-repeat="x in datas") 
            td {{$index+1+(paginationConf.currentPage-1)*paginationConf.itemsPerPage}}
            td {{x.ProjectName}}           
            td {{x.ProjectDesc}}
            td {{x.ProjectManageName}}
            td {{x.ProjectTimeLine}}   
            td {{x.ProjectEndTime}}  
            td {{x.ProjectStatus}}    
            td {{x.ProjectPrice}}
            td {{x.IsActive | numToChin:x.IsActive}}
            td
              a(href='#/sfms/projectLeadEdit/?ID={{x.ID}}' )
                i.icon.icon-edit 编辑&nbsp
              a(data-toggle="modal",data-target="#myModal",ng-click="moreproject($index,'/sfms/api/projectuser/')",href='')
                i.icon.icon-zoom-in  更多          
      div.pull-right
        jason-pagination(conf='paginationConf')