link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid(action='/backmenu' conf='paginationConf')
    span 
      h2 应用新增
    form(method="post",name="appInfo" )
      table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft") 应用代码
          td
            input(type="textview",name="ApplicationCode",ng-model='formdata.ApplicationCode',ng-maxlength='50',required)
            small.error(ng-if="appInfo.ApplicationCode.$error.maxlength && appInfo.ApplicationCode.$touched") 应用代码最多50位
   
        tr
          td(width="15%",class="tableleft") 	应用名称 
          td
            input(type="textview",name="ApplicationName",ng-model="formdata.ApplicationName",ng-maxlength='50',required)
            
            small.error(ng-if="appInfo.ApplicationName.$error.maxlength && appInfo.ApplicationName.$touched") 应用名称最多50位
        
        tr
          td(class="tableleft") 是否有效
          td
            input(type="radio",name="IsActive",value="1",ng-model="formdata.IsActive",style="width:15px;height:15px",checked)
            | 有效&nbsp&nbsp&nbsp&nbsp&nbsp
                      
            input(type="radio",name="IsActive",value="0",ng-model="formdata.IsActive",style="width:15px;height:15px")
            |&nbsp无效  

        tr
          td(width="15%",class="tableleft") 	备注（可选） 
          td
            textarea(type="textview",name="Memo",ng-model='formdata.Memo',rows="5",cols="30",ng-maxlength='200')
            small.error(ng-show="appInfo.Memo.$error.maxlength && appInfo.Memo.$touched") 备注最多200位

        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-disabled="appInfo.$invalid",ng-click="addnew(formdata,'/app')") 添加
            
            a.btn.btn-sm.btn-success(href='#backend/application',ng-click='search()') 返回列表