link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid
    span 
      h2 应用编辑
    jason-form(method="post",source='/app' conf='paginationConf')
      form(name="appEdit")
        table.table.table-bordered.table-hover.definedwidth.m10
          tr
            td(width="15%",class="tableleft") 应用代码
            td
              input(type="textview",name="ApplicationCode",ng-model='paginationConf.formdata.ApplicationCode',ng-maxlength='50',required)
              
              small.error(ng-if="appEdit.ApplicationCode.$error.maxlength && appEdit.ApplicationCode.$touched") 应用代码最多50位
        
          tr
            td(width="15%",class="tableleft") 	应用名称 
            td
              input(type="textview",name="ApplicationName",ng-model="paginationConf.formdata.ApplicationName",ng-maxlength='50',required)
              
              small.error(ng-if="appEdit.ApplicationName.$error.maxlength && appEdit.ApplicationName.$touched") 应用名称最多50位

          tr
            td(class="tableleft") 是否有效
            td
              input(type="radio",name="IsActive",value="1",ng-model="paginationConf.formdata.IsActive",style="width:15px;height:15px",checked)
              | 有效&nbsp&nbsp&nbsp&nbsp&nbsp       
              input(type="radio",name="IsActive",value="0",ng-model="paginationConf.formdata.IsActive",style="width:15px;height:15px")
              | 无效   

          tr
            td(width="15%",class="tableleft") 备注（可选） 
            td
              textarea(type="textview",name="Memo",ng-model='paginationConf.formdata.Memo',rows="5",cols="30",ng-maxlength='200')
    
              small.error(ng-if="appEdit.Memo.$error.maxlength && appEdit.Memo.$touched") 备注最多200位
          
          tr
            td(class="tableleft")
            td
              button.btn.btn-sm.btn-primary(type="submit",ng-disabled="appEdit.$invalid",ng-click="newedit(paginationConf.formdata,'/app')") 确认修改
   
              a.btn.btn-sm.btn-success(href='#backend/application',ng-click='search()') 返回列表