link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid(action='/func' conf='paginationConf' ng-controller="baseController")
    span 
      h2 功能点编辑
   jason-form(method="post",source='/backmenu/plain' conf='paginationConf')
     table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft") 应用ID  
          td
            select(id="search",value="",ng-model='paginationConf.formdata.FunctionLevel',style="width:163px;height:30px",required)
              option 1
              option 2 
        tr
          td(width="15%",class="tableleft") 功能点对应的层级
          td
            select(id="search",value="",ng-model='paginationConf.formdata.FunctionLevel',style="width:163px;height:30px",required)
              option 1
              option 2
        tr
          td(width="15%",class="tableleft") 功能点号 
          td
            input(type="textview",name="FunctionCode",ng-model='paginationConf.formdata.FunctionCode',ng-maxlength='8',required)
            
            small.error(ng-show="paginationConf.formdata.FunctionCode.$error.maxlength && paginationConf.formdata.FunctionCode.$touched") 对应的功能点号最多11位
          
           
        tr
          td(width="15%",class="tableleft") 	功能点名称 
          td
            input(type="textview",name="FunctionName",ng-model='paginationConf.formdata.FunctionName',ng-maxlength='50',required)
            
            small.error(ng-show="paginationConf.formdata.FunctionName.$error.maxlength && paginationConf.formdata.FunctionName.$touched") 功能点名称最多50位

        tr
          td(width="15%",class="tableleft") 备注(可选) 
          td
            textarea(rows="10",cols="30")     
    
        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-click="addnew(paginationConf.formdata,'/backmenu')") 添加
 
            
            a.btn.btn-sm.btn-success(href='#sfms/function') 返回列表



 include ../shared/footer.jade  
      