link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid
    span 
      h2 功能点新增
    form(method="post",name="functionAdd" )
     table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft") 应用ID  
          td
            jason-select.input(placeholder='应用名称' ng-model='formdata.ApplicationID' source='/app', stext='ID' svalue='ID',style="width:160px;height:30px",sactive='1',required)              
        tr
          td(width="15%",class="tableleft") 功能点对应的层级
          td
            select(id="search",value="",ng-model='formdata.FunctionLevel',style="width:163px;height:30px",required)
              option 1
              option 2        

        tr
          td(width="15%",class="tableleft") 	对应的父级ID 
          td
            select(id="search",value="",ng-model='formdata.ParentID',style="width:163px;height:30px",required)
              option 1
              option 2 
           

        tr
          td(width="15%",class="tableleft") 功能点号 
          td
            input(type="text",name="FunctionCode",ng-model='formdata.FunctionCode',ng-maxlength='8',required)
      
            span.error(ng-show="functionAdd.FunctionCode.$dirty &&functionAdd.FunctionCode.$invalid")
              small.error(ng-show="functionAdd.FunctionCode.$error.minlength") 角色名称至少三位
              small.error(ng-show="functionAdd.FunctionCode.$error.maxlength") 角色名称最多十位
          
           
        tr
          td(width="15%",class="tableleft") 	功能点名称 
          td
            input(type="text",name="FunctionName",ng-model='formdata.FunctionName',ng-maxlength='50',required)
      
            small.error(ng-show="functionAdd.FunctionName.$error.maxlength && functionAdd.FunctionName.$touched") 功能点名称最多50位

        tr
          td(width="15%",class="tableleft") 备注(可选) 
          td
            textarea(rows="10",cols="30",name="Memo",ng-model='formdata.Memo')     


        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-click="addnew(formdata,'/func')") 添加
 
      
            a.btn.btn-sm.btn-success(href='#sfms/function') 返回列表



 include ../shared/footer.jade  
      