link(rel='stylesheet', href='css/backend/backend.css')   
block content
  jason-pagecontent(action='/backmenu/plain' conf='paginationConf')
    div.page-content
      ng-form.form-inline
        span.title 菜单管理
        div.buttons.pull-right
          label.form-group.my-form-group 应用名称
            jason-select.form-control.ext(ng-model='f.ApplicationID',source='/app',stext='ApplicationName',svalue='ID')
          label.form-group.my-form-group 菜单名称
            jason-select.form-control.ext(ng-model='f.MenuID',source='/backmenu/allMenus',stext='MenuName',svalue='MenuID')
          label.form-group.my-form-group
            a.btn.btn-sm.btn-primary(ng-click='search()')
              i.icon.icon-search   查询
            a.btn.btn-sm.btn-success(ng-href='#/backend/menuinfo')
              i.icon.icon-plus 新建
            a.btn.btn-sm.btn-info(ng-click='search()' class='btn btn-sm btn-default') 
              i.icon.icon-repeat  刷新
      hr
      table.table.table-striped.table-bordered.text-center
        thead.text-center 
          tr  
            th 序号 
            th 应用名称
            th 菜单名称
            th 菜单路径
            th 是否有效
            th 操作
        tbody
          tr(ng-repeat="x in datas")
            td {{$index+1+(paginationConf.currentPage-1)*paginationConf.itemsPerPage}}
            td {{x.ApplicationName}}
            td {{x.MenuName}}
            td {{x.Url}}
            td( ng-style="{color: x.IsActive == '1' ? 'green' : 'red'}") {{x.IsActive | menuIsActive:x.IsActive }}
            td
              a(href='#/backend/menuedit/?MenuID={{x.MenuID}}')
                i.icon.icon-edit &nbsp编辑&nbsp&nbsp
              button.btt.btn.btn-sm.btn-primary(ng-click="restart($index,x.MenuName,'/backmenu/reuse')",href='',ng-disabled='x.IsActive')
                i.icon.icon-ok 启用
              button.btt.btn.btn-sm.btn-danger(ng-click="remove($index,x.MenuName,'/backmenu/forbid')",href='',ng-disabled='!x.IsActive')
                i.icon.icon-ban-circle 禁用
      div.pull-right
        jason-pagination(conf='paginationConf')