link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid
    span 
      h2 个人资料
    jason-form(method="post"  source='/backuser/person' conf='paginationConf' tocc="ApplicationID,RoleID,CollegeID,ClassID")
      form(source='/backuser' name='perEdit' ng-controller="userEditController")
        table.table.table-bordered.table-hover.definedwidth.m10        
          tr
            td(width="15%",class="tableleft") 用户姓名 
            td {{paginationConf.formdata.UserName}}
            
          tr
            td(width="15%",class="tableleft") 密码 
            td
              input(type="password",name="Pwd",ng-model="paginationConf.formdata.Pwd",ng-maxlength='50',required)
              
              small.error(ng-if="perEdit.Pwd.$error.maxlength && perEdit.Pwd.$touched") 密码最多50位
            
          tr
            td(width="15%",class="tableleft") 账户名 
            td  {{paginationConf.formdata.Account}}
          
          tr
            td(width="15%",class="tableleft") 手机号码 
            td
              input(type="phone",name="Phone",ng-model="paginationConf.formdata.Phone",ng-maxlength='11',ng-minlength='11')  
              
              small.error(ng-if="(perEdit.Phone.$error.maxlength||perEdit.Phone.$error.minlength)&& perEdit.Phone.$touched") 电话号码11位
        
          tr
            td(width="15%",class="tableleft") 所在学院
            td {{paginationConf.formdata.College}}

          tr
            td(width="15%",class="tableleft") 所在班级
            td {{paginationConf.formdata.Class}}
       
          tr
            td(width="15%",class="tableleft") 邮箱 
            td
              input(type="textview",name="Email",ng-model='paginationConf.formdata.Email',ng-maxlength='50')
              
              small.error(ng-if="formdata.Email.$error.maxlength && formdata.Email.$touched") 请填写正确的邮箱地址
                    
      
          tr
            td(width="15%",class="tableleft") 地址
            td
              textarea(type="textview",name="Address",ng-model="paginationConf.formdata.Address",rows="2",cols="30",ng-maxlength='200')
              
              small.error(ng-if="perEdit.Address.$error.maxlength && perEdit.Address.$touched") 地址最多200位

          tr
            td(class="tableleft")
            td
              button.btn.btn-sm.btn-primary(type="submit",ng-disabled="perEdit.$invalid",ng-click="newedit(paginationConf.formdata,'/backuser/person')") 确认修改
              