link(rel='stylesheet' href="css/backend/tree.css")
block content
  div.container-fluid(ng-controller='roleAddController')
    span 
      h2 角色新增
    form(method="post",name="roleAddForm") 
      table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft" ) 应用名称
          td    
            select(name='ApplicationID',ng-model='formdata.ApplicationID',ng-change= "appChanged()",required)
                option   
                option(ng-repeat="item in applicationNames",value='{{item.ID}}') {{item.ApplicationName}}
         tr
          td(width="15%",class="tableleft") 角色名称
          td
            input(type="text",name="RoleName",ng-model="formdata.RoleName",style="width:160px;height:30px",required)
            
            span.error(ng-show="roleAddForm.RoleName.$dirty &&roleAddForm.RoleName.$invalid")
              
        tr
          td(width="15%",class="tableleft") 角色代码
          td
            input(type="text",name="RoleCode",ng-model="formdata.RoleCode",style="width:160px;height:30px",required)
            
            span.error(ng-show="roleAddForm.RoleCode.$dirty &&roleAddForm.RoleCode.$invalid")
            
        tr
          td(class="tableleft") 是否有效
          td
            input(type="radio",name="isActive",value="1",ng-model="formdata.IsActive",checked,style="width:15px;height:15px") 
            |有效  &nbsp&nbsp&nbsp
      
            input(type="radio",name="isActive",ng-model="formdata.IsActive",value="0",style="width:15px;height:15px")
            |无效&nbsp

        tr
          td(class="tableleft") 权限树
          td
            div
              tree-grid(tree-data="tree_data"  on-check='clickHander(branch,parent)' showCheck='true')
  
        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-click="submit()") 添加角色
            
            a.btn.btn-sm.btn-success(href="#backend/role") 返回列表
    div.modal.fade(id='functionModel')
        div.modal-dialog
            div.modal-content
                    div.modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                            span.sr-only Close
                        h4.modal-title {{Config.ModelTitle}}
                    div.modal-body
                        p {{Config.ModelBody}}
                    div.modal-footer
                        button.btn.btn-sm.btn-default(type='button', ng-click='Config.Cancel()') {{Config.BtnCancel}}
                        button.btn.btn-sm.btn-primary(type='button',ng-click='Config.Save()') {{Config.BtnSave}}
