link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid
    span 
      h2 用户编辑
    jason-form(method="post" source='/backuser' conf='paginationConf' tocc="ApplicationID,RoleID,CollegeID,ClassID")
      form( name="userEdit" ng-controller="userEditController")
        table.table.table-bordered.table-hover.definedwidth.m10
          tr
            td(width="15%",class="tableleft") 应用名称
            td      
              select(name='ApplicationID',ng-model='paginationConf.formdata.ApplicationID',,required)
                option   
                option(ng-repeat="item in applicationNames",value='{{item.ID}}') {{item.ApplicationName}}
              
          tr
            td(width="15%",class="tableleft") 用户姓名 
            td
              input(type="textview",name="UserName",ng-model='paginationConf.formdata.UserName',ng-maxlength='50',required)
              
              small.error(ng-if="userEdit.UserName.$error.maxlength && userEdit.UserName.$touched") 用户姓名最多50位
            
          tr
            td(width="15%",class="tableleft") 密码 
            td
              input(type="password",name="Pwd",ng-model="paginationConf.formdata.Pwd",ng-maxlength='50',required)
              
              small.error(ng-if="userEdit.Pwd.$error.maxlength && userEdit.Pwd.$touched") 密码最多50位
            
          tr
            td(width="15%",class="tableleft") 账户名 
            td
              input(type="textview",name="Account",ng-model="paginationConf.formdata.Account",ng-maxlength='50',required)
              
              small.error(ng-if="userEdit.Account.$error.maxlength && userEdit.Account.$touched") 账户最多50位
          

          tr
            td(class="tableleft") 是否有效
            td
              input(type="radio",name="IsActive",value="1",ng-model="paginationConf.formdata.IsActive",style="width:15px;height:15px",checked)
              |有效&nbsp&nbsp&nbsp
                        
              input(type="radio",name="IsActive",value="0",ng-model="paginationConf.formdata.IsActive",style="width:15px;height:15px")
              |无效

          tr
            td(width="15%",class="tableleft") 手机号码 (可选) 
            td
              input(type="phone",name="Phone",ng-model="paginationConf.formdata.Phone",ng-maxlength='11',ng-minlength='11')
              
              small.error(ng-if="(userEdit.Phone.$error.maxlength||userEdit.Phone.$error.minlength)&& userEdit.Phone.$touched") 电话号码11位

          tr
            td(width="15%",class="tableleft") 邮箱 (可选)
            td
              input(type="textview",name="Email",ng-model='paginationConf.formdata.Email',ng-maxlength='50')
              
              small.error(ng-if="formdata.Email.$error.maxlength && formdata.Email.$touched") 请填写正确的邮箱地址
                    
          tr
            td(width="15%",class="tableleft") 所在学院 (可选) 
            td
              select(ng-model='paginationConf.formdata.CollegeID',ng-change="collegeChanged()")
                option(ng-repeat="item in college",value='{{item.DictionaryID}}') {{item.DictionaryValue}}

          tr
            td(width="15%",class="tableleft") 所在班级 (可选)  
            td
              select(ng-model='paginationConf.formdata.ClassID')
                option(ng-repeat="item in cls",value='{{item.DictionaryID}}') {{item.DictionaryValue}})

          tr
            td(width="15%",class="tableleft") 地址 (可选) 
            td
              textarea(type="textview",name="Address",ng-model="paginationConf.formdata.Address",rows="2",cols="30",ng-maxlength='200')
              
              small.error(ng-if="userEdit.Address.$error.maxlength && userEdit.Address.$touched") 地址最多200位

          tr
            td(width="15%",class="tableleft") 备注 (可选)  
            td
              textarea(type="textview",name="Memo",ng-model='paginationConf.formdata.Memo',rows="5",cols="30",ng-maxlength='200')
              
              small.error(ng-if="userEdit.Memo.$error.maxlength && userEdit.Memo.$touched") 备注最多200位 

          tr
            td(class="tableleft")
            td
              button.btn.btn-sm.btn-primary(type="submit",ng-disabled="userEdit.$invalid",ng-click="newedit(paginationConf.formdata,'/backuser')") 确认修改           
              a.btn.btn-sm.btn-success(href='#backend/user',ng-click='search()') 返回列表