link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid
    span 
      h2 微信菜单管理
    form(method="post"  name="wechatMenu")
      table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft") body   
          td
            textarea(type="textview",name="body",ng-model='formdata.body',rows="15",cols="35")

        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit" ng-click="addnew(formdata,'/jinkeBro/createMenu')") 添加